<?xml version="1.1" encoding="UTF-8"?><flow-definition plugin="workflow-job@2.37">
  <actions/>
  <description>Automatically update any out of date packages in the test repository from the Community Repository</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>P_LOCAL_REPO_URL</name>
          <description>Internal test repository.</description>
          <defaultValue>https://{{hostname}}:8443/repository/ChocolateyTest/</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>P_REMOTE_REPO_URL</name>
          <description>Remote repository containing updated package versions.</description>
          <defaultValue>https://chocolatey.org/api/v2</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>P_LOCAL_REPO_API_KEY</name>
          <description>API key for the internal test repository where updated packages will be pushed.</description>
          <defaultValue>{{NugetApiKey}}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>node {
    powershell '''
        Set-Location (Join-Path "$env:SystemDrive\choco-setup\files" -ChildPath 'scripts')
        .\\Get-UpdatedPackage.ps1  -LocalRepo $env:P_LOCAL_REPO_URL `
        -LocalRepoApiKey $env:P_LOCAL_REPO_API_KEY `
        -RemoteRepo $env:P_REMOTE_REPO_URL `
        -Verbose
    '''
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>true</disabled>
</flow-definition>
